{% extends 'base.html' %}

{% block content %}


    {% if user.is_authenticated %}
    <div class="col-md-6 offset-md-3">
    <h1>Clover Admin Panel</h1>
    </div>
    <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            
            <th scope="col">Carer Name</th>
            <th scope="col">Client Name</th>
            <th scope="col">Area</th>
            <th scope="col">ID</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% if records %}

            {% for record in records %}
            <tr>
              <td>{{ record.first_name }}
                
                <td><a href="{% url 'record' record.id %}">{{ record.customer }}</a></td>
                <td>{{ record.area }}</td>
                <td>{{ record.id }}</td>
                
            </tr>
            {% endfor %}
    
        {% endif %}


          </tr>
        </tbody>
      </table>
    

    {% else %}
<div class="col-md-6 offset-md-3">

<br>
<div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <br/>
    
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
    
      <div class="mb-3">
        <input type="text" class="form-control" name="username" placeholder="Username" required>
        
      </div><br/>
      <div class="mb-3">
        <input type="password" class="form-control" name="password" placeholder="Password" required>
      </div>
      <br/>
      <button type="submit" class="btn btn-secondary">Login</button>
    
    </form>
</div>

{% endif %}

{% endblock %}


